{% extends 'shop/basic.html' %}

{% block title %} Contact {% endblock %}

{% block body %} 
<div class="container">

<h1>Contact Us</h1>

<form action="/contact/" method="post">{% csrf_token %}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" >Email</label>
      <input type="email" class="form-control" id="inputEmail4" name="email">
    </div>
    <div class="col-md-6">
      <label for="intname4" class="form-label" >Name</label>
      <input type="text" class="form-control" id="inputname4" name="name">
    </div>
    <div class="col-12">
      <label for="inputissue" class="form-label" >Issue</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"name="issue"></textarea>
    </div>
    
    
    <button type="submit" class="btn btn-outline-success">Success</button>
    
  </form> 
</div>

  
  {% endblock %}